@page
@model BookStore.Pages.PurchaseConfirmationModel
@{
}

<div class=”text-center”>
    <h2>Thank you! Your order is on its way!</h2>
    <a class="btn btn-primary" asp-controller="Home">Continue Shopping</a>
</div>

<br /><br /><br /><br /><br /><br />

<img class="spinner-border" style="display: block; margin-left: auto; margin-right: auto; width: 500px; height: 500px;" src="~/img/circle.jpg" />

